section {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 50vh;
}

.articleCard{
    margin: 2em;
    padding: 0.5em;
    border-radius: 1em;
    border: 3px;
    border: 5px solid;
    border-color: aqua;
    font-weight: 500;
    cursor: pointer;
}